@import compass/reset
@import compass/css3
$theme: #f39d37
$helper: #c80048
*
	+box-sizing(border-box)
h1, h2, h3, h4, h5, p, div, p
	font-family: "微軟正黑體", "Microsoft JhengHei", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	color: #373737
section
	padding: 4em
.main
	position: relative
	z-index: 1
.slider
	height: 80vh
	background-color: $helper
div[class^="taste-"]
	height: 80vh
	background-size: cover
	background-position: center
.taste-1
	background-image: url(../images/slider-1.jpg)
.taste-2
	background-image: url(../images/slider-2.jpg)
.taste-3
	background-image: url(../images/slider-3.jpg)
.taste-4
	background-image: url(../images/slider-4.jpg)
.taste-5
	background-image: url(../images/slider-5.jpg)
.slider-for
	position: absolute
	top: 0
	left: 0
	right: 0
	h1, h2, p
		text-align: center
	h1
		font-size: 22px
	h2
		font-size: 18px
.ring, .ball, .cat-wrap
	width: 180px
	height: 180px
	margin: 80px auto 40px auto
	background-size: contain
	background-position: center center
	background-repeat: no-repeat
	+transition(0.3s)
	&:hover
		+scale(1.2)
		+transition(all 0.2s cubic-bezier(.26,-0.03,.28,1.58))

.story
	padding: 220px 0
	background-image: url(../images/hero.png)
	background-size: 520px
	background-repeat: no-repeat
	background-position: left top
	background-attachment: fixed
	+box-shadow(2px 2px 2px rgba(#000000, 0.2))
.feature
	padding: 120px 0
	border-bottom: 4px solid $helper
	h1
		font-size: 24px
		text-align: center
		line-height: 28px
		margin-bottom: 16px
	p
		font-size: 18px
		line-height: 24px
		text-align: center

.ring
	background-image: url(../images/ring.png)
.ball
	background-image: url(../images/ball.png)
.cat-wrap
	background-image: url(../images/cat-wrap.png)

.contact
	padding: 160px 20px
	background-color: lighten($theme, 40%)
	h2
		font-size: 28px
		text-align: center
		color: $theme
	a

		padding: 12px 24px
		max-width: 180px
		text-align: center
		background-color: $helper
		color: white
		margin: 40px auto 0 auto
		display: block
		font-size: 22px
		border: 2px solid $helper
		&:hover
			background-color: white
			color: $helper

		
footer
	background-color: $theme
	padding: 12px
	text-align: center
	color: darken($theme, 20%)
	border-bottom: 4px solid darken($helper, 1%)










