@charset "UTF-8";
/* line 5, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/screen.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* line 8, ../sass/screen.sass */
h1, h2, h3, h4, h5, p, div, p {
  font-family: "微軟正黑體", "Microsoft JhengHei", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #373737;
}

/* line 11, ../sass/screen.sass */
section {
  padding: 4em;
}

/* line 13, ../sass/screen.sass */
.main {
  position: relative;
  z-index: 1;
}

/* line 202, ../sass/screen.sass */
.feature {
  padding: 120px 0 90px 0;
  border-bottom: 8px solid rgba(243, 157, 55, 0.7);
}
/* line 205, ../sass/screen.sass */
.feature h1 {
  font-size: 24px;
  text-align: center;
  line-height: 28px;
  margin-bottom: 16px;
  color: #905a17;
}
/* line 212, ../sass/screen.sass */
.feature p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #905a17;
}

/* line 220, ../sass/screen.sass */
.ring {
  background-image: url(../images/ring.png);
}

/* line 222, ../sass/screen.sass */
.ball {
  background-image: url(../images/ball.png);
}

/* line 224, ../sass/screen.sass */
.cat-wrap {
  background-image: url(../images/cat-wrap.png);
}

/* line 227, ../sass/screen.sass */
.contact {
  padding: 160px 20px;
  background-color: #fffbf7;
  background-color: #c80048;
}
/* line 231, ../sass/screen.sass */
.contact h2 {
  font-size: 28px;
  text-align: center;
  color: #fbc4d0;
}
/* line 235, ../sass/screen.sass */
.contact a {
  padding: 12px 24px;
  max-width: 180px;
  text-align: center;
  background-color: #c80048;
  color: white;
  margin: 40px auto 0 auto;
  display: block;
  font-size: 22px;
  border: 2px solid white;
}
/* line 246, ../sass/screen.sass */
.contact a:hover {
  background-color: white;
  color: #c80048;
}

/* line 251, ../sass/screen.sass */
footer {
  background-color: #f39d37;
  padding: 12px;
  text-align: center;
  color: #b9690b;
  border-bottom: 4px solid #c30046;
}

/* line 259, ../sass/screen.sass */
.demo-body {
  padding-top: 120px;
  background-color: black;
}

/* line 262, ../sass/screen.sass */
.demo {
  background-color: #FFF;
  position: relative;
  width: 320px;
  height: 568px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 269, ../sass/screen.sass */
.ios-pic {
  height: 568px;
  width: 320px;
  background-size: 100%;
}

/* line 273, ../sass/screen.sass */
.ios-demo {
  background-color: #FFF;
  position: relative;
  width: 320px;
  height: 568px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 282, ../sass/screen.sass */
#app-black {
  background-color: #000000;
  height: 568px;
}
